@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import "./variables.scss";
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    &::-webkit-scrollbar {
        display: none;
    }
}
body{
    font-family: 'Lato', sans-serif;
}
